.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('../public/background.jpeg') no-repeat 25% / cover;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.title {
  margin: 0;
  font-size: 64px;
  margin-top: 32px;
}

.description {
  font-size: 32px;
  margin: 32px;
}

a,
img {
  height: 32px;
  width: 32px;
  margin: 0 32px;
  background: none;
  color: transparent;
  margin-bottom: 32px;
}
